.searchField {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img {
  flex-basis: 33.33%;
}